
@{
    ViewBag.Title = "Home";
}


<body>
    <h1 id="titulo-inicio">Bem vindo!</h1>
    <table>
        <tr>
            <td>
                <p id="texto-inicio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at arcu sem. Maecenas feugiat posuere est ut accumsan. Maecenas tincidunt tellus non rutrum ultrices. Etiam consequat orci id leo semper, quis vulputate felis aliquet. Donec euismod sit amet purus at aliquam. Fusce dignissim orci non ligula venenatis vehicula. Sed fermentum, erat sed blandit blandit, tortor nisi fringilla lectus, id commodo dolor velit congue tortor. Nam nulla magna, accumsan et nulla vitae, gravida molestie est. Aliquam erat volutpat.</p>
            </td>
            <td>
                <img src="~/Content/Images/s.png" id="imagem-inicial">
            </td>
        </tr>
    </table>
    <div>
        <div>
            <h3 class="intro">@Html.ActionLink("Cadastrar", "Cadastrar")</h3>
        </div>
        <div>
            <h3 class="intro">@Html.ActionLink("Logar", "Logar")</h3>
        </div>
    </div>
</body>


